# /etc/systemd/system/autostream_sdcardhealth.service
#
# This file is part of autostream.
# Copyright (c) 2025 Lo-tech Systems Limited. All rights reserved.

[Unit]
Description=Capture SD Card Health Percentage
After=local-fs.target

[Service]
Type=oneshot
User=root
ExecStart=/bin/sh -o pipefail -c '/opt/autostream/sdmon -q -a /dev/mmcblk0 | /usr/bin/jq -r ".healthStatusPercentUsed" > /opt/autostream/sdcardhealth'

