# /etc/systemd/system/autostream_sdcardhealth.service
#
# This file is part of autostream.
# Copyright (c) 2025 Lo-tech Systems Limited. All rights reserved.

[Unit]
Description=Capture SD Card Health JSON
After=local-fs.target

[Service]
Type=oneshot
User=root
ExecStart=/bin/sh -c 'tmp=/opt/autostream/sdcardhealth.json.tmp; trap "rm -f \"$tmp\"" EXIT; /usr/local/sbin/sdmon -q /dev/mmcblk0 > "$tmp" && /bin/mv "$tmp" /opt/autostream/sdcardhealth.json'
