# /etc/systemd/system/autostream_wifi_watcher.service
#
# This file is part of autostream.
# Copyright (c) 2025 Lo-tech Systems Limited. All rights reserved.
#

[Unit]
Description=WiFi Setup State Machine (AP Mode + Captive Portal based WiFi Config)
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=simple
UMask=022
WorkingDirectory=/opt/autostream

ExecStart=/opt/autostream/autostream_wifi_watcher

# Log level for the wifi watcher. Valid values: fatal, log, warning, info, debug, spam
#Environment=AUTOSTREAM_WIFI_LOG_LEVEL=info

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
